*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Arial, sans-serif;
}

.banner{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 60vh;
}

.menu{
    height: 8%;
    line-height: 8%;
    vertical-align: middle;
    background-color: #255EE9;
}

.logo{
    margin: auto;
    float: left;
    position: absolute;
    left: 15%;
    top: 3%;
}

.sezione-centrale{
    text-align: center;
    padding: 40px;
}

ul li {
    display: inline-block;
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 25px;
}

ul li a:hover{
    text-decoration: underline;
}

.access-button{
    display: inline-block;
    position: absolute;
    float: left;
    left: 80%;
    top: 2%;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

main{
    text-align: center;
    color: white;
    padding-top: 6%;
    font-size: 2rem;
}

main p {
    width: 48%;
    text-align: center;
    margin: 50px auto;
    font-size: 1.5rem;
    line-height: 35px;
}

.download::before{
    content: "\2913";
    font-weight: bold;
}

.underline:hover {
    text-decoration: underline;
}

.download {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    float: left;
    left: 35%;
    bottom: 45%;
    background-color: white;
    color: black;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 1.2rem;
}

.web-version {
    display: inline-block;
    position: absolute;
    text-decoration: none;
    float: left;
    left: 49%;
    bottom: 45%;
    background-color: #23272A;
    color: white;
    padding: 20px 40px;
    border-radius: 50px;
    font-size: 1.2rem;
}

.left {
    position: absolute;
    float: left;
    left: 20%;
    margin-top: 100px;
}

.right {
    position: absolute;
    float: left;
    right: 15%;
    margin-top: 130px;
    width: 20%;
    color: #3F4345;
}

.title {
    font-size: 3rem;
    padding-bottom: 30px;
}

.description {
    font-size: 1.4rem;
    line-height: 35px;
}